In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import time

In [9]:
# SPDR S&P 500 ETF Trust (SPY)
# Invesco QQQ Trust (QQQ)
# iShares Russell 2000 ETF (IWM)
# Vanguard Total Stock Market ETF (VTI)
# iShares MSCI EAFE ETF (EFA)
# iShares MSCI Emerging Markets ETF (EEM)
# iShares Core S&P Mid-Cap ETF (IJH)
# SPDR Gold Shares (GLD)
# iShares US Real Estate ETF (IYR)
# Invesco Solar ETF (TAN)
# Global X Lithium & Battery Tech ETF (LIT)
# ARK Innovation ETF (ARKK)
# Vanguard Information Technology ETF (VGT)
# Financial Select Sector SPDR Fund (XLF)
# Health Care Select Sector SPDR Fund (XLV)
# Consumer Discretionary Select Sector SPDR Fund (XLY)
# Industrial Select Sector SPDR Fund (XLI)
# iShares U.S. Treasury Bond ETF (GOVT)
# iShares iBoxx $ Investment Grade Corporate Bond ETF (LQD)
# iShares iBoxx $ High Yield Corporate Bond ETF (HYG)

# Define a list of ticker symbols for the ETFs you're interested in
tickers = ['ARKK', 'BND', 'EEM', 'EFA', 'FXI', 'GLD', 'GOVT', 'HYG', 'IJH',
       'IWM', 'IYR', 'LIT', 'LQD', 'QQQ', 'SCHE', 'SPY', 'TAN', 'VGK',
       'VGT', 'VTI', 'XLB', 'XLE', 'XLF', 'XLI', 'XLK', 'XLP', 'XLU',
       'XLV', 'XLY']

In [10]:
# Define the start and end dates for the price data
start_date = '2010-01-01'
end_date = pd.Timestamp.today()
price = "Open"
# Create an empty dictionary to store the price data for each ETF
etf_prices = {}
except_list = []
# Loop through each ticker symbol and retrieve its historical price data
for ticker in tqdm(tickers, desc='Downloading ETF data'):
    etf = yf.Ticker(ticker)
    prices = etf.history(start=start_date, end=end_date, interval='1d',proxy="http://127.0.0.1:7890")[price]
    if len(prices) == 0:
        except_list.append(ticker)
    etf_prices[ticker] = prices
    # time.sleep(3)

Downloading ETF data:  17%|█▋        | 5/29 [00:12<01:36,  4.04s/it]

FXI: No data found for this date range, symbol may be delisted

Downloading ETF data:  21%|██        | 6/29 [00:22<02:22,  6.18s/it]

GLD: No data found for this date range, symbol may be delisted

Downloading ETF data:  28%|██▊       | 8/29 [00:33<02:10,  6.22s/it]

HYG: No data found for this date range, symbol may be delisted

Downloading ETF data:  34%|███▍      | 10/29 [00:44<01:58,  6.24s/it]

IWM: No data found for this date range, symbol may be delisted

Downloading ETF data:  62%|██████▏   | 18/29 [00:58<00:42,  3.83s/it]

VGK: No data found for this date range, symbol may be delisted

Downloading ETF data:  66%|██████▌   | 19/29 [01:08<00:56,  5.69s/it]

VGT: No data found for this date range, symbol may be delisted

Downloading ETF data: 100%|██████████| 29/29 [01:12<00:00,  2.51s/it]

In [15]:
print(except_list)
for ticker in tqdm(except_list, desc='Downloading ETF data'):
    etf = yf.Ticker(ticker)
    prices = etf.history(start=start_date, end=end_date, interval='1d',proxy='http://127.0.0.1:7890')[price]
    etf_prices[ticker] = prices

['FXI', 'GLD', 'HYG', 'IWM', 'VGK', 'VGT']

Downloading ETF data: 100%|██████████| 6/6 [00:02<00:00,  2.33it/s]

In [16]:
df = pd.DataFrame.from_dict(etf_prices)
df = df.reset_index()
df = df.rename({'Date':'datetime'},axis=1)
df['datetime'] = df['datetime'].astype(str).apply(lambda x:x.split()[0])

In [19]:
df.to_csv(f'./Data/USD ETFs_{price}.csv',index=False)

In [18]:
df

,datetime,ARKK,BND,EEM,EFA,FXI,GLD,GOVT,HYG,IJH,...,VTI,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
0,2010-01-04,NaN,54.123527,32.277514,38.479522,31.252423,109.820000,NaN,40.851171,60.252052,...,44.506952,25.159268,37.503893,9.277327,21.702487,19.043239,18.564049,19.607285,25.101963,25.143080
1,2010-01-05,NaN,54.323208,32.836131,38.786430,32.034648,109.879997,NaN,41.199337,60.490877,...,44.882678,25.533881,38.131966,9.373167,21.849283,19.174919,18.732504,19.425504,25.173756,25.235579
2,2010-01-06,NaN,54.378321,32.966210,38.656854,32.487891,110.709999,NaN,41.333951,60.845007,...,45.007907,25.578838,38.410392,9.552068,21.903365,19.125535,18.704432,19.237458,24.966363,25.302852
3,2010-01-07,NaN,54.206132,32.790205,38.629559,32.122375,111.070000,NaN,41.491802,61.075599,...,45.047041,25.878525,38.682363,9.596791,21.965176,18.928024,18.767599,19.337752,25.125904,25.513074
4,2010-01-08,NaN,54.316338,32.813166,38.806895,31.998088,111.519997,NaN,41.575331,61.297975,...,45.164450,25.743669,38.656446,9.730973,22.251038,18.812813,18.669335,19.249986,25.357218,25.471033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3372,2023-05-26,38.410000,71.975256,38.660000,71.750000,26.530001,181.009995,22.820585,73.299194,241.860001,...,206.000000,76.419998,79.559998,31.920000,97.900002,160.639999,73.110001,64.489998,127.669998,148.830002
3373,2023-05-30,40.070000,72.364257,38.900002,71.919998,26.410000,181.720001,22.930345,73.995855,244.720001,...,209.630005,76.180000,77.400002,32.160000,98.480003,167.199997,73.000000,64.699997,126.889999,153.630005
3374,2023-05-31,39.520000,72.623582,38.240002,70.690002,25.870001,182.389999,23.020150,73.786860,242.360001,...,207.490005,75.400002,76.739998,31.910000,97.809998,164.710007,72.680000,64.370003,126.389999,151.979996
3375,2023-06-01,40.150002,73.050003,38.250000,71.050003,25.969999,182.809998,23.139999,73.800003,240.589996,...,207.300003,75.400002,76.769997,31.940001,97.080002,163.759995,72.650002,65.050003,127.949997,151.479996
3376,2023-06-02,41.708000,73.010002,39.500000,72.650002,27.330000,183.529999,23.110001,74.459999,245.289993,...,210.679993,77.519997,78.989998,32.410000,99.120003,166.929993,72.639999,64.120003,129.080002,155.229996