In [9]:
import yfinance as yf
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [36]:
# SPDR S&P 500 ETF Trust (SPY)
# Invesco QQQ Trust (QQQ)
# iShares Russell 2000 ETF (IWM)
# Vanguard Total Stock Market ETF (VTI)
# iShares MSCI EAFE ETF (EFA)
# iShares MSCI Emerging Markets ETF (EEM)
# iShares Core S&P Mid-Cap ETF (IJH)
# SPDR Gold Shares (GLD)
# iShares US Real Estate ETF (IYR)
# Invesco Solar ETF (TAN)
# Global X Lithium & Battery Tech ETF (LIT)
# ARK Innovation ETF (ARKK)
# Vanguard Information Technology ETF (VGT)
# Financial Select Sector SPDR Fund (XLF)
# Health Care Select Sector SPDR Fund (XLV)
# Consumer Discretionary Select Sector SPDR Fund (XLY)
# Industrial Select Sector SPDR Fund (XLI)
# iShares U.S. Treasury Bond ETF (GOVT)
# iShares iBoxx $ Investment Grade Corporate Bond ETF (LQD)
# iShares iBoxx $ High Yield Corporate Bond ETF (HYG)

# Define a list of ticker symbols for the ETFs you're interested in
tickers = ['SPY', 'QQQ', 'IWM', 'VTI', 'EFA', 'EEM', 'IJH', 'GLD', 'IYR', 'TAN', 'LIT', 
           'ARKK', 'VGT', 'XLF', 'XLV', 'XLY', 'XLI', 'GOVT', 'LQD', 'HYG','XLK','XLE']

In [37]:
# Define the start and end dates for the price data
start_date = '2005-01-01'
end_date = pd.Timestamp.today()

# Create an empty dictionary to store the price data for each ETF
etf_prices = {}

# Loop through each ticker symbol and retrieve its historical price data
for ticker in tqdm(tickers, desc='Downloading ETF data'):
    etf = yf.Ticker(ticker)
    prices = etf.history(start=start_date, end=end_date, interval='1d')['Close']
    etf_prices[ticker] = prices

Downloading ETF data:  41%|████      | 9/22 [00:16<00:48,  3.69s/it]

IYR: No data found for this date range, symbol may be delisted

Downloading ETF data:  45%|████▌     | 10/22 [00:27<01:08,  5.75s/it]

TAN: No data found for this date range, symbol may be delisted

Downloading ETF data:  77%|███████▋  | 17/22 [00:42<00:20,  4.08s/it]

XLI: No data found for this date range, symbol may be delisted

Downloading ETF data: 100%|██████████| 22/22 [00:47<00:00,  2.17s/it]

In [38]:
for ticker in tqdm(['IYR','XLI','TAN'], desc='Downloading ETF data'):
    etf = yf.Ticker(ticker)
    prices = etf.history(start=start_date, end=end_date, interval='1d')['Close']
    etf_prices[ticker] = prices

Downloading ETF data: 100%|██████████| 3/3 [00:02<00:00,  1.04it/s]

In [40]:
df = pd.DataFrame.from_dict(etf_prices)
df = df.reset_index()
df = df.rename({'Date':'datetime'},axis=1)
df['datetime'] = df['datetime'].astype(str).apply(lambda x:x.split()[0])
df.iloc[-5:,:]

,datetime,SPY,QQQ,IWM,VTI,EFA,EEM,IJH,GLD,IYR,...,VGT,XLF,XLV,XLY,XLI,GOVT,LQD,HYG,XLK,XLE
4612,2023-05-01,415.510010,322.190002,175.300003,206.199997,73.510002,39.000000,248.130005,183.970001,84.919998,...,384.760010,33.080002,134.220001,146.399994,100.540001,23.190001,107.790001,74.690002,150.919998,84.169998
4613,2023-05-02,410.839996,319.380005,171.699997,203.679993,72.769997,38.619999,244.600006,187.520004,83.470001,...,380.450012,32.330002,133.639999,146.550003,99.489998,23.420000,109.089996,74.620003,149.509995,80.510002
4614,2023-05-03,408.019989,317.290009,172.330002,202.490005,72.959999,38.560001,244.339996,189.110001,83.070000,...,377.760010,31.959999,133.460007,145.389999,99.110001,23.530001,109.269997,74.580002,148.250000,78.989998
4615,2023-05-04,405.130005,316.170013,170.399994,200.979996,72.809998,38.869999,240.270004,190.440002,83.750000,...,376.230011,31.549999,132.399994,144.270004,98.029999,23.520000,108.970001,74.360001,147.539993,78.110001
4616,2023-05-05,412.630005,322.890015,174.449997,204.690002,73.879997,39.389999,245.309998,187.460007,85.139999,...,386.179993,32.330002,133.589996,147.190002,99.510002,23.420000,108.540001,74.760002,151.240005,80.230003

In [41]:
df.to_csv('USD ETFs.csv')