In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

In [8]:
# SPDR S&P 500 ETF Trust (SPY)
# Invesco QQQ Trust (QQQ)
# iShares Russell 2000 ETF (IWM)
# Vanguard Total Stock Market ETF (VTI)
# iShares MSCI EAFE ETF (EFA)
# iShares MSCI Emerging Markets ETF (EEM)
# iShares Core S&P Mid-Cap ETF (IJH)
# SPDR Gold Shares (GLD)
# iShares US Real Estate ETF (IYR)
# Invesco Solar ETF (TAN)
# Global X Lithium & Battery Tech ETF (LIT)
# ARK Innovation ETF (ARKK)
# Vanguard Information Technology ETF (VGT)
# Financial Select Sector SPDR Fund (XLF)
# Health Care Select Sector SPDR Fund (XLV)
# Consumer Discretionary Select Sector SPDR Fund (XLY)
# Industrial Select Sector SPDR Fund (XLI)
# iShares U.S. Treasury Bond ETF (GOVT)
# iShares iBoxx $ Investment Grade Corporate Bond ETF (LQD)
# iShares iBoxx $ High Yield Corporate Bond ETF (HYG)

# Define a list of ticker symbols for the ETFs you're interested in
tickers = ['SPY', 'QQQ', 'IWM', 'VTI', 'EFA', 'EEM', 'IJH', 'GLD', 'IYR', 'TAN', 'LIT', 'FXI',
           'ARKK', 'VGT', 'XLF', 'XLV', 'XLY', 'XLI', 'GOVT', 'LQD', 'HYG','XLK','XLE']

In [9]:
# Define the start and end dates for the price data
start_date = '2005-01-01'
end_date = pd.Timestamp.today()

# Create an empty dictionary to store the price data for each ETF
etf_prices = {}

# Loop through each ticker symbol and retrieve its historical price data
for ticker in tqdm(tickers, desc='Downloading ETF data'):
    etf = yf.Ticker(ticker)
    prices = etf.history(start=start_date, end=end_date, interval='1d')['Open']
    etf_prices[ticker] = prices

Downloading ETF data:  17%|█▋        | 4/23 [00:13<01:29,  4.72s/it]

VTI: No data found for this date range, symbol may be delisted

Downloading ETF data:  57%|█████▋    | 13/23 [00:30<00:37,  3.75s/it]

ARKK: No data found for this date range, symbol may be delisted

Downloading ETF data:  78%|███████▊  | 18/23 [00:43<00:21,  4.21s/it]

XLI: No data found for this date range, symbol may be delisted

Downloading ETF data:  83%|████████▎ | 19/23 [00:54<00:24,  6.08s/it]

GOVT: No data found for this date range, symbol may be delisted

Downloading ETF data: 100%|██████████| 23/23 [00:56<00:00,  2.46s/it]

In [5]:
for ticker in tqdm(['VIT','GLD','VGT','XLV','HYG','XLK'], desc='Downloading ETF data'):
    etf = yf.Ticker(ticker)
    prices = etf.history(start=start_date, end=end_date, interval='1d')['Close']
    etf_prices[ticker] = prices

Downloading ETF data:  17%|█▋        | 1/6 [00:10<00:52, 10.42s/it]

VIT: No data found for this date range, symbol may be delisted

Downloading ETF data:  50%|█████     | 3/6 [00:21<00:22,  7.40s/it]

VGT: No data found for this date range, symbol may be delisted

Downloading ETF data: 100%|██████████| 6/6 [00:32<00:00,  5.46s/it]

XLK: No data found for this date range, symbol may be delisted

In [10]:
df = pd.DataFrame.from_dict(etf_prices)
df = df.reset_index()
df = df.rename({'Date':'datetime'},axis=1)
df['datetime'] = df['datetime'].astype(str).apply(lambda x:x.split()[0])
df.iloc[-5:,:]

,datetime,SPY,QQQ,IWM,VTI,EFA,EEM,IJH,GLD,IYR,...,VGT,XLF,XLV,XLY,XLI,GOVT,LQD,HYG,XLK,XLE
4617,2023-05-08,412.970001,322.420013,175.259995,NaN,74.029999,39.529999,246.559998,187.820007,84.879997,...,385.429993,32.509998,133.389999,147.639999,NaN,NaN,107.940002,74.699997,150.949997,81.400002
4618,2023-05-09,411.130005,322.000000,172.979996,NaN,73.290001,39.009998,243.300003,188.119995,84.209999,...,384.589996,32.139999,132.789993,146.880005,NaN,NaN,107.779999,74.349998,150.330002,79.599998
4619,2023-05-10,413.880005,324.119995,175.960007,NaN,73.680000,39.130001,246.639999,188.979996,85.199997,...,387.019989,32.470001,132.789993,149.009995,NaN,NaN,108.419998,74.769997,151.309998,80.660004
4620,2023-05-11,411.950012,325.700012,173.220001,NaN,73.029999,38.810001,242.809998,188.440002,84.480003,...,387.459991,31.879999,132.500000,148.490005,NaN,NaN,109.239998,74.739998,151.580002,78.230003
4621,2023-05-12,413.420013,326.739990,173.649994,NaN,73.360001,38.740002,243.559998,187.429993,84.320000,...,387.070007,32.240002,132.570007,149.600006,NaN,NaN,108.989998,74.680000,151.410004,78.790001

In [11]:
df.to_csv('USD ETFs_open.csv')